{
  "parser": "babel-eslint",
  "extends": ["plugin:prettier/recommended"],
  "env": {
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "settings": {
    "vue": {
      "version": "2"
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "import/export": 0,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
